<div class="build-list-item-properties">
    <div class="build-col build-col-changelist">
        {{attrs.build.changelist}}
    </div>

    <div class="build-col build-col-owner">
        {{attrs.build.owner}}
    </div>

    <div class="build-col build-col-time">
        {{attrs.build.startedAt}}
    </div>

    <div class="build-col build-col-build">
        Build
    </div>

    <div class="build-col build-col-unit">
        Unit test
    </div>

    <div class="build-col build-col-func">
        Functional test
    </div>

    <div class="build-col build-col-status">
        {{attrs.build.state}}
    </div>
</div>

{{yield}}
