{{! based on bs-accordion-item from ember-bootstrap }}
{{! see http://kaliber5.github.io/ember-bootstrap/api/classes/Components.AccordionItem.html }}

<div role="tab" {{action "toggleActive"}} class="panel-heading {{if collapsed "collapsed"}}">
    <h4 class="panel-title">
        {{builds-list-item-short build=build}}
    </h4>
</div>

{{#bs-collapse collapsed=collapsed class="panel-collapse"}}
    <div class="panel-body">
        {{builds-list-item-detail build=build}}
    </div>
{{/bs-collapse}}

{{yield}}
