<div class="progress progress-with-steps_progress">
    <div class="progress-with-steps_step">
        {{fa-icon spin=steps.firdtObject.isActive
        class=(concat 'icon-state-' state-system-name steps.firstObject.state)}}
    </div>

    {{#each steps as |step index|}}
        <div class="progress-bar progress-bar-striped progress-with-steps_progress-bar {{state-system-name step.state}}"
             role="progressbar" aria-valuenow="{{step.percent}}"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: {{step.percent}}%;">
            <span class="sr-only">{{step.percent}}% Complete</span>
        </div>

        <div class="progress-with-steps_step right"
             style="left: {{math-calc (math-calc 100 '/' index) '-' 10}}% ">

            {{#if step.isActive}}
                {{fa-icon class=(concat 'icon-state-' state-system-name step.state)}}
            {{/if}}
        </div>
    {{/each}}
</div>

{{yield}}
